@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to my Home Page</h1>
    <br/>
    <p>
        Hi, I’m <strong>Billy Boodoo</strong>, a proud student at 
        <strong>George Brown College</strong> enrolled in 
        <strong>Program T197</strong>.
    </p>
</div>
